@import "variables.css";



@media screen and (max-width: 1480px) {
    
    .sidebar, main, .theme
    {
        display: none;
    }

    body
    {
        height: 100vh;
        align-items: center;
        justify-content: center;

        background-repeat: no-repeat;
        background: linear-gradient(to bottom, rgba(0, 177, 253, 1), 
                                            rgba(0, 230, 254, 1),
                                            rgba(192, 223, 217, 1),
                                            rgba(252, 158, 138, 1));
    }

    body .responsive-note
    {

        width: 90vw;
        height: 80vh;
        padding: 6rem;
        display: block;
        font-size: calc(2rem + 1vw);
        border-radius: var(--bdr-radius);
        background-color: var(--clr-bg-light);
    }

}