@import "variables.css";



@media screen and (max-width: 1480px) {
    
    .sidebar, main, .theme
    {
        display: none;
    }

    body
    {
        align-items: center;
        justify-content: center;
    }

    body .responsive-note
    {

        width: 90vw;
        height: 80vh;
        padding: 6rem;
        display: block;
        font-size: calc(2rem + 1vw);
        border-radius: var(--bdr-radius);
        background-color: var(--clr-bg-light);
    }

}