@import "variables.css";
@import "useful-class.css";

body
{


    padding: 2rem;
    font-family: var(--main-font);
    color: var(--clr-font-light);
}

.sidebar
{
    /*Local variables*/
    --intern-padding: 1rem;

    width: fit-content;
    max-width: 18rem;
    min-height: 39.5rem;
    border-radius: 1rem;
    padding: var(--intern-padding);
    background: var(--clr-bg-dark);
}

.options
{
    width: fit-content;
    border: 1px solid;
    list-style: none;
    padding: 0 1.5rem;
}

/*Basic properties for li items*/
.sidebar-options
{
    display: flex;
    align-items: center;
    justify-content: start;


    height: 4rem;
    max-width: 11rem;
    border: 1px solid red;
}

/*Make some html elements disappear without ovvering effect*/
.sidebar-options a, .primary-button span
{
    display: none;
}

.sidebar:hover .primary-button img
{
    display: none;
}

.sidebar:hover .sidebar-options
{
    display: flex;
    align-items: center;
    justify-content: start;


    height: 4rem;
    max-width: 11rem;
    border: 1px solid red;
}

.sidebar:hover a
{
    display: block;
}

.sidebar:hover .primary-button span
{
    display: block;
    width: 14rem;
}
