@import "variables.css";
@import "useful-class.css";

body
{
    padding: 2rem;
    font-family: var(--main-font);
    color: var(--clr-font-light);
}

.sidebar
{
    /*Local variables*/
    --intern-padding: 1rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 6rem;
    border-radius: 2rem;
    padding: var(--intern-padding);
    background: var(--clr-bg-dark);

    transition: all ease-in-out 0.5s;
}

.sidebar:hover
{
    align-items: start;
    width: 16rem;
}


.logo-container
{
    width: 100%;
    padding: 1rem 0.80rem;
    border: 1px solid chartreuse;
}


.options
{
    width: 100%;
    /* width: fit-content; */
    list-style: none;
    padding: 0 0rem;
    margin-bottom: 2rem;

    border: 1px solid violet;
}

/*Basic properties for li items*/
.sidebar-options
{
    display: flex;
    align-items: center;
    justify-content: start;


    height: 4rem; 
    min-width: 4rem;
    border: 1px solid crimson;
}

/*Make some html elements disappear without ovvering effect*/
.sidebar-options a
{
    opacity: 0;
    transition: all ease-in-out 0.7s;
}


.primary-button span, 
.primary-button img
{
    transition: opacity ease-in 0.4s;
}

.primary-button img
{
    opacity: 1;
}

.primary-button span
{
    opacity: 0;
    position: absolute;
}

.sidebar:hover .primary-button img
{
    opacity: 0;
}


/*Make some html elements appear with overing effect*/
.sidebar:hover .sidebar-options
{
    display: flex;
    align-items: center;
    justify-content: start;
}

.sidebar:hover a,
.sidebar:hover .primary-button span
{
    opacity: 1;
}
