

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: var(--clr-font-light);
  }
  
  a:visited {
    color: var(--clr-font-light);
  }
  
  a:focus,
  a:hover {
    font-weight: 600;
    color: var(--clr-font-light);
  }
  
  a:active {
    font-weight: 600;
  }



button
{

  display: flex;
  align-items: center;
  justify-content: center;


  border: none;
  width: 100%;
  /* min-width: 3.75rem; */
  height: 3.75rem;
  cursor: pointer;
  border-radius: var(--bdr-radius);
  color: var(--clr-font-light);
  background-color: var(--clr-accent-blue);

  transition: all ease-in-out 0.5s;
}


.green
{
  color: var(--clr-accent-green);
}

.red
{
  color: var(--clr-accent-red);
}