

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: var(--clr-font-light);
  }
  
  a:visited {
    color: var(--clr-font-light);
  }
  
  a:focus,
  a:hover {
    font-weight: 600;
    color: var(--clr-font-light);
  }
  
  a:active {
    font-weight: 600;
  }



button
{

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--clr-font-light);

    border: none;
    height: 3.75rem;
    cursor: pointer;
    border-radius: 2rem;
    width: 3.75rem;
    background-color: var(--clr-accent-blue);

    
    transition: width ease-in-out 0.5s;
}